body {
    background-color: #d873e9
}

.center {
    display: grid;
    place-items: center;
    position: absolute;
    width: 1512px;
    height: 180px;
    left: 0px;
    top: 0px;

}

.center img{
    width: 304px;
    height: 183px;
}

.container {
    position: absolute;
    width: 805px;
    left: calc(50% - 805px/2 + 8.5px);
    top: 234px;
    opacity: 1;
    box-shadow: 50px 30px 30px 50px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.order label, p, legend {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 39px;

    color: 840A98;
}

input,
select,
textarea,
button {
  margin: 0;
  font-family: inherit;
  font-size: 1.3rem;
  line-height: inherit;
}

.radio-input,
.checkbox-input {
  min-width: 1.5rem;
  min-height: 1.5rem;
  margin-right: 0.5rem;
}

.input-text {
    width: 100%;
    min-height: 150px;
    padding: 0.7rem;
    resize: vertical;
    font-weight: 200;
}

.radio input-text {
    box-sizing: border-box;

    position: absolute;

    background: #D9e9D7;
    border: 0.5px solid #840A98;
    border-radius: 9px;
}

input[type=text][type=email][type=tel] {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid 840A98;
    box-sizing: border-box;
}
